# --- LLM API ---
#AZURE
#OPENAI_API_TYPE ="azure"
#OPENAI_API_VERSION = <Azure_API_version>
#AZURE_OPENAI_ENDPOINT = <Azure_API_endpoint>
#AZURE_OPENAI_API_KEY = <Azure_API_key>
#AZURE_DEPLOYMENT_NAME = <Azure_Model_Deployment_Name>

#OPENAI
#OPENAI_API_TYPE = "openai"
#OPENAI_API_BASE = <OpenAI_API_endpoint>
#OPENAI_API_KEY = <OpenAI_API_key>
#OPENAI_MODEL_NAME = "<OpenAI_API_endpoint>

# --- RULE AGENT ---
# MAXIMUM NUMBER OF QUESTIONS 
MAX_QUESTIONS = 15
# RELEVANCE_THRESHOLD Suggested: [0.1,0.5]
RELEVANCE_THRESHOLD = 0.35
# REFINEMENT_THRESHOLD Suggested: [0.5,0.9]
REFINEMENT_THRESHOLD = 0.8 
# HIGH_CONFIDENCE Suggested: [0.8, 1.0]
HIGH_CONFIDENCE = 0.95
# LOW_CONFIDENCE Suggested: [0.1, 0.5] 
LOW_CONFIDENCE = 0.4 

# --- EDITOR ---
EDITOR_URL=http://localhost:8080/
CHAT_WIDGET_URL=http://localhost:8000/besser/agent/platforms/websocket/chat_widget/
WEBSOCKET_URL=ws://localhost:8765
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8000,http://localhost:8501
WEBSOCKET_HOST=0.0.0.0
WEBSOCKET_PORT=8765
CHAT_WIDGET_PORT=8000
STREAMLIT_PORT=8501
