#AZURE
#OPENAI_API_TYPE ="azure"
#OPENAI_API_VERSION = <Azure_API_version>
#AZURE_OPENAI_ENDPOINT = <Azure_API_endpoint>
#AZURE_OPENAI_API_KEY = <Azure_API_key>
#AZURE_DEPLOYMENT_NAME = <Azure_Model_Deployment_Name>

#OPENAI
#OPENAI_API_TYPE = "openai"
#OPENAI_API_BASE = <OpenAI_API_endpoint>
#OPENAI_API_KEY = <OpenAI_API_key>
#OPENAI_MODEL_NAME = "<OpenAI_API_endpoint>

#RULE-BASED QUESTIONS
MAX_QUESTIONS = 2
# CONFIDENCE_THRESHOLD Suggested: [0.5,0.9]
CONFIDENCE_THRESHOLD = 0.8 
# HIGH_CONFIDENCE Suggested: [0.5, 1.0]
HIGH_CONFIDENCE = 0.9
# LOW_CONFIDENCE Suggested: [0.1, 0.5] 
LOW_CONFIDENCE = 0.4 
# SIMULATED_EXPERT: 0: No simulation, 1: Simulation
SIMULATED_EXPERT = 1 